config_mad:
    # Links to be made for tools and scripts
    links:
      acc-models-lhc: ../../test_data/hllhc14

    # Optics file
    optics_file: acc-models-lhc/round/opt_round_150_1500_thin.madx

    # Beam parameters
    beam_config:
      lhcb1:
        beam_energy_tot: 7000           # [GeV]
      lhcb2:
        beam_energy_tot: 7000           # [GeV]

    # Enable machine imperfections
    enable_imperfections: true 
    
    # Enable legacy (fortran) nonlinear corrections
    enable_legacy_nl_corrections: false

    # Enable knob synthesis (for coupling correction, if no imperfections)
    enable_knob_synthesis: false

    # Rename the coupling knobs to avoid conflict between b1 and b2
    # (for hllhc using old fortran code to generate the knobs)
    rename_coupling_knobs: true

    # Optics version, for choice of correction algorithms
    # (ver_lhc_run or ver_hllhc_optics)
    ver_hllhc_optics: 1.4
    ver_lhc_run: null

    # Parameters for machine imperfections
    pars_for_imperfections:
      par_myseed: 1
      par_correct_for_D2: 0
      par_correct_for_MCBX: 0
      par_on_errors_LHC: 1
      par_off_errors_Q4_inIP15: 0
      par_off_errors_Q5_inIP15: 0
      par_on_errors_MBH: 1
      par_on_errors_Q4: 1
      par_on_errors_D2: 1
      par_on_errors_D1: 1
      par_on_errors_IT: 1
      par_on_errors_MCBRD: 0
      par_on_errors_MCBXF: 0
      par_on_errors_NLC: 0
      par_write_errortable: 1

config_knobs_and_tuning:

    knob_settings:

      # Orbit knobs
      on_x1: 250            # [urad]
      on_sep1: 0            # [mm]
      on_x2: -170           # [urad]
      on_sep2: 0.138        # [mm]
      on_x5: 250            # [urad]
      on_sep5: 0            # [mm]
      on_x8: -250           # [urad]
      on_sep8: -0.043       # [mm]
      on_a1: 0              # [urad]
      on_o1: 0              # [mm]
      on_a2: 0              # [urad]
      on_o2: 0              # [mm]
      on_a5: 0              # [urad]
      on_o5: 0              # [mm]
      on_a8: 0              # [urad]
      on_o8: 0              # [mm]
      on_disp: 1            # Value to choose could be optics-dependent

      # Crab cavities
      on_crab1: -190        # [urad]
      on_crab5: -190        # [urad]

      # Magnets of the experiments
      on_alice_normalized: 1
      on_lhcb_normalized: 1
      on_sol_atlas: 0
      on_sol_cms: 0
      on_sol_alice: 0

      # RF voltage and phases
      vrf400:       16.0            # [MV]
      lagrf400.b1:   0.5            # [rad]
      lagrf400.b2:   0.             # [rad]

      # Octupoles
      i_oct_b1:     -235            # [A]
      i_oct_b2:     -235            # [A]

    closed_orbit_correction:
      lhcb1: corr_co_lhcb1.json
      lhcb2: corr_co_lhcb2.json

    # Tunes and chromaticities
    targets:
      lhcb1:
        qx: 62.31
        qy: 60.32
        dqx: 5
        dqy: 6
      lhcb2:
        qx: 62.31
        qy: 60.32
        dqx: 5
        dqy: 6

    knob_names:
      lhcb1:
        q_knob_1: kqtf.b1
        q_knob_2: kqtd.b1
        dq_knob_1: ksf.b1
        dq_knob_2: ksd.b1
        c_minus_knob_1: c_minus_re_b1
        c_minus_knob_2: c_minus_im_b1
      lhcb2:
        q_knob_1: kqtf.b2
        q_knob_2: kqtd.b2
        dq_knob_1: ksf.b2
        dq_knob_2: ksd.b2
        c_minus_knob_1: c_minus_re_b2
        c_minus_knob_2: c_minus_im_b2

    correct_magnetic_errors: 
      enable: true  # correct magnetic errors
      pre_tuning: false  # run orbit, tune and chroma correction before error correction

      ir_rdt_correction:
        # Correct nonlinear errors in the IRs by locally minimizing RDTs.
        # Legacy correction via fortran code can be activated in 
        # config_mad.enable_legacy_nl_corrections. For detailed info about the 
        # parameters see the irnl_rdt_correction documentation.
        #
        # !! DO NOT USE the parameters `twiss`, `errors`, `beams` and
        # `ignore_missing_columns`, as they are programatically set.
        # 
        # --- Parameters for xmask -----------------------------------------------
        enable: true  # deactivate if enable_legacy_nl_corrections is true
        target_lines: ['lhcb1', 'lhcb2']  # calculate corrections based on this line(s)
        #
        # --- Parameters passed on to the IRNL RDT correction module -------------
        accel: 'hllhc'  # "lhc" or "hllhc" implemented (defaults to "lhc")
        regex_filter: "M(QX|BX|C[SODT]S?X)"  # elements that contribute errors in 04e_correction + correctors
        # regex_filter: "M(QS?X|BX|BRC|C[SODT]S?X)"       # elements that contribute errors + correctors 
        # regex_filter: "M(QS?X|BX|BRC|BRD|CBXF|C[SODT]S?X)"  # + correct for D2 and MCBXF
        # feeddown: 0           # include feeddown in RDT
        output: 'corrections_ir_{}'  # write into output files (inlcude {}-placeholder for beam)
        # rdts: None            # RDTs to correct, e.g ["F0004", "F4000"]
        # rdts2: None           # only for dual-optics correction, not used
        # ips: [1, 2, 5, 8]     # IPs to minimize RDTs in
        # solver: 'lstsq'       # 'lstsq', 'inv' or 'linear'
        # update_optics: true   # include corrector value in feeddown
        # iterations: 1         # number of correction calculation iterations 
        # ignore_corrector_settings: true  # ignore corrector settings in twiss
        # --- Only Octupole Correction Example -------
        # regex_filter: "M(QX.*\\.\\.1$|COX)" 
        # ips: [1]
        # rdts: ["F0004", "F4000"]

config_beambeam:
    bunch_spacing_buckets: 10
    num_slices_head_on: 11
    num_long_range_encounters_per_side:
      ip1: 25
      ip2: 20
      ip5: 25
      ip8: 20
    sigma_z: 0.076
    num_particles_per_bunch: 2.2e11
    nemitt_x: 2.5e-6
    nemitt_y: 2.5e-6

config_lumi_leveling:
    ip2:
      separation_in_sigmas: 5
      plane: 'x'
      impose_separation_orthogonal_to_crossing: false
      knobs:
        - on_sep2
      bump_range:
        lhcb1:
          - e.ds.l2.b1
          - s.ds.r2.b1
        lhcb2:
          - s.ds.r2.b2
          - e.ds.l2.b2
      preserve_angles_at_ip: true
      preserve_bump_closure: true
      corrector_knob_names:
       # to preserve angles at ip
       - corr_co_acbyvs4.l2b1
       - corr_co_acbyhs4.l2b1
       - corr_co_acbyvs4.r2b2
       - corr_co_acbyhs4.r2b2
       # to close the bumps
       - corr_co_acbyvs4.l2b2
       - corr_co_acbyhs4.l2b2
       - corr_co_acbyvs4.r2b1
       - corr_co_acbyhs4.r2b1
       - corr_co_acbyhs5.l2b2
       - corr_co_acbyvs5.l2b2
       - corr_co_acbchs5.r2b1
       - corr_co_acbcvs5.r2b1

    ip8:
      luminosity: 2.0e+33
      num_colliding_bunches: 2572
      impose_separation_orthogonal_to_crossing: false
      knobs:
        - on_sep8
      bump_range:
        lhcb1:
          - e.ds.l8.b1
          - s.ds.r8.b1
        lhcb2:
          - s.ds.r8.b2
          - e.ds.l8.b2
      preserve_angles_at_ip: true
      preserve_bump_closure: true
      corrector_knob_names:
       # to preserve angles at ip
       - corr_co_acbyvs4.l8b1
       - corr_co_acbyhs4.l8b1
       - corr_co_acbyvs4.r8b2
       - corr_co_acbyhs4.r8b2
       # to close the bumps
       - corr_co_acbyvs4.l8b2
       - corr_co_acbyhs4.l8b2
       - corr_co_acbyvs4.r8b1
       - corr_co_acbyhs4.r8b1
       - corr_co_acbcvs5.l8b2
       - corr_co_acbchs5.l8b2
       - corr_co_acbyvs5.r8b1
       - corr_co_acbyhs5.r8b1
